networks:
  services-net:
    name: "services-net"
    driver: "bridge" # Permite la comunicación entre los contenedores bajo una misma red

services:

  jenkins-blueocean:

    container_name: "jenkins-blueocean"

    # Se hace la build con el Dockerfile del proyecto
    build:
      context: ./jenkins
      dockerfile: Dockerfile

    #Varibles de entorno creo que el resto no hacen falta, por que ya están en el Dockerfile
    environment:
      - TZ=Europe/Madrid #Establece la zona horaria -> La usaré en los logs de Sonarqube y Jenkins para que tengan la misma zona horaria

    networks:
      - "services-net"

    ports:
      - "50000:50000/tcp"
      - "8080:8080/tcp"

    restart: "on-failure"
    
    volumes:
      - "jenkins-data:/var/jenkins_home"
      - "/var/run/docker.sock:/var/run/docker.sock"

  sonarqube-server:

    container_name: "sonarqube-server"

    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true

    image: "sonarqube:community"

    networks:
      - "services-net"

    ports:
      - "9000:9000/tcp"

    volumes:
      - "sonarqube_logs:/opt/sonarqube/logs"
      - "sonarqube_data:/opt/sonarqube/data"
      - "sonarqube_temp:/opt/sonarqube/temp"
      - "sonarqube_extensions:/opt/sonarqube/extensions"

volumes:
# Volúmen de Jenkins
  jenkins-data:
  
  # Volúmenes de SonarQube (Nuevos y limpios)
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
  sonarqube_temp: