networks:
  jenkins:
    external: false # Se ha cambiado a false, la explicacion esta en los volumenes de abajo
    name: "jenkins"

services:

  jenkins-blueocean:

    container_name: "jenkins-blueocean"

    entrypoint:
      - "/usr/bin/tini"
      - "--"
      - "/usr/local/bin/jenkins.sh"

    environment:
      - "DOCKER_HOST=tcp://docker:2376"
      - "DOCKER_CERT_PATH=/certs/client"
      - "DOCKER_TLS_VERIFY=1"
      - "PATH=/opt/java/openjdk/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
      - "LANG=C.UTF-8"
      - "JENKINS_HOME=/var/jenkins_home"
      - "JENKINS_SLAVE_AGENT_PORT=50000"
      - "REF=/usr/share/jenkins/ref"
      - "JENKINS_VERSION=2.541.1"
      - "JENKINS_UC=https://updates.jenkins.io"
      - "JENKINS_UC_EXPERIMENTAL=https://updates.jenkins.io/experimental"
      - "JENKINS_INCREMENTALS_REPO_MIRROR=https://repo.jenkins-ci.org/incrementals"
      - "COPY_REFERENCE_FILE_LOG=/var/jenkins_home/copy_reference_file.log"
      - "JAVA_HOME=/opt/java/openjdk"

    hostname: "921d242a840d"

    image: "myjenkins-blueocean:2.541.1-1"

    ipc: "private"

    labels:
      org.opencontainers.image.description: "The Jenkins Continuous Integration and Delivery server"
      org.opencontainers.image.licenses: "MIT"
      org.opencontainers.image.revision: "1122ed9016b703e62a07438f652c04b01938657b"
      org.opencontainers.image.source: "https://github.com/jenkinsci/docker"
      org.opencontainers.image.title: "Official Jenkins Docker image"
      org.opencontainers.image.url: "https://www.jenkins.io/"
      org.opencontainers.image.vendor: "Jenkins project"
      org.opencontainers.image.version: "2.541.1"

    logging:
      driver: "json-file"
      options: {}

    networks:
      - "jenkins"

    ports:
      - "50000:50000/tcp"
      - "8080:8080/tcp"

    restart: "on-failure"

    user: "jenkins"

    volumes:
      - "jenkins-data:/var/jenkins_home"
      - "jenkins-docker-certs:/certs/client:ro"

  sonarqube-test:

    container_name: "sonarqube-test"

    entrypoint:
      - "/opt/sonarqube/docker/entrypoint.sh"

    environment:
      - "PATH=/opt/java/openjdk/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
      - "JAVA_HOME=/opt/java/openjdk"
      - "LANG=en_US.UTF-8"
      - "LANGUAGE=en_US:en"
      - "LC_ALL=en_US.UTF-8"
      - "JAVA_VERSION=jdk-21.0.10+7"
      - "DOCKER_RUNNING=true"
      - "SONARQUBE_HOME=/opt/sonarqube"
      - "SONAR_VERSION=26.2.0.119303"
      - "SQ_DATA_DIR=/opt/sonarqube/data"
      - "SQ_EXTENSIONS_DIR=/opt/sonarqube/extensions"
      - "SQ_LOGS_DIR=/opt/sonarqube/logs"
      - "SQ_TEMP_DIR=/opt/sonarqube/temp"
      - "ES_TMPDIR=/opt/sonarqube/temp"

    hostname: "02a4efdfafc7"

    image: "sonarqube:community"

    ipc: "private"

    labels:
      io.k8s.description: "SonarQube Community Build is a self-managed, automatic code review tool that\
        \ systematically helps you deliver Clean Code."
      io.openshift.min-cpu: "400m"
      io.openshift.min-memory: "2048M"
      io.openshift.non-scalable: "true"
      io.openshift.tags: "sonarqube,static-code-analysis,code-quality,clean-code"
      org.opencontainers.image.ref.name: "ubuntu"
      org.opencontainers.image.url: "https://github.com/SonarSource/docker-sonarqube"
      org.opencontainers.image.version: "24.04"

    logging:
      driver: "json-file"
      options: {}

    # He cambiado la conexion de bridge a jenkins para que se puedan comunicar ambos contenedores, 
    # ya que el bridge no les permitia comunicarse entre ellos, y el jenkins si se comunica con el docker, 
    # por lo que el sonarqube tambien puede comunicarse con el docker a traves de la red jenkins
    networks:
      - "jenkins"

    ports:
      - "9000:9000/tcp"

    user: "sonarqube"

    volumes:
      - "5557b3fd5e6557fa015671971dab13532f13ea73227236368f4628096b3accda:/opt/sonarqube/logs"
      - "84f76d491461a3fab71a6147a66f7feb48e38ab3a5358cb2140ab69cc4f0ebd8:/opt/sonarqube/data"
      - "8f099fff2526f39bcbd7183fa82f5bc2490edfd5672d525c03918b36e543fa8c:/opt/sonarqube/temp"
      - "920fb03cc57093be9dabee636af5dee3eb5320f7e2bd0369937ddf094f66d782:/opt/sonarqube/extensions"

    working_dir: "/opt/sonarqube"

version: "3.6"

# He cambiado external de true a false para que se pueda crear la red jenkins, 
# ya que al ser external no se puede crear la red y da error, 
# y al ponerlo en false se crea la red y no da error
volumes:
  5557b3fd5e6557fa015671971dab13532f13ea73227236368f4628096b3accda:
    external: false
  84f76d491461a3fab71a6147a66f7feb48e38ab3a5358cb2140ab69cc4f0ebd8:
    external: false
  8f099fff2526f39bcbd7183fa82f5bc2490edfd5672d525c03918b36e543fa8c:
    external: false
  920fb03cc57093be9dabee636af5dee3eb5320f7e2bd0369937ddf094f66d782:
    external: false
  jenkins-data:
    external: false
  jenkins-docker-certs:
    external: false