networks:
  services-net:
    name: "services-net"
    driver: "bridge" # Allows communication between containers on the same network

services:

  jenkins-blueocean:

    container_name: "jenkins-blueocean"

    # Build using the project's Dockerfile
    build:
      context: ./jenkins
      dockerfile: Dockerfile

    # Environment variables; the rest are defined in the Dockerfile
    environment:
      - TZ=Europe/Madrid # Set timezone for consistent SonarQube and Jenkins logs

    networks:
      - "services-net"

    ports:
      - "50000:50000/tcp"
      - "8080:8080/tcp"

    restart: "on-failure"
    
    volumes:
      - "jenkins-data:/var/jenkins_home"
      - "/var/run/docker.sock:/var/run/docker.sock" # Allow Jenkins to control Docker on the host

  sonarqube-server:

    container_name: "sonarqube-server"

    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true

    image: "sonarqube:community"

    networks:
      - "services-net"

    ports:
      - "9000:9000/tcp"

    volumes:
      - "sonarqube_logs:/opt/sonarqube/logs"
      - "sonarqube_data:/opt/sonarqube/data"
      - "sonarqube_temp:/opt/sonarqube/temp"
      - "sonarqube_extensions:/opt/sonarqube/extensions"

volumes:
  # Jenkins volume
  jenkins-data:
  
  # SonarQube volumes (fresh state)
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
  sonarqube_temp: